# D-Link System Inc DGE-550SX PCI-X Gigabit Ethernet Adapter
DEVICE=eth1
BOOTPROTO=none
IPADDR=192.168.5.2
ONBOOT=yes
HOTPLUG=no
HWADDR=MAC_TO_REPLACE
NETMASK=255.255.255.0
USERCTL=no
IPV6INIT=no
PEERDNS=yes
TYPE=Ethernet
MTU=8192
PROMISC=yes
SCHARDEV=yes
